/** New Layout **/
/* Importing the font Zetta sans serif */
@font-face {
  font-family: 'zetta sans serif';
  src: url('../fonts/webfont.ttf') format('truetype'), /* Safari, Android, iOS */;
}
.tabs li {
  background-color: #004E6B !important;
}
.tabs li a {
  color: #FFFFFF !important;
  font-size: 16px !important;
}
.tabs li a:hover,
.tabs li a.active {
  background-color: #004E6B !important;
  font-size: 16px !important;
}
.secondary-header {
  text-align: right;
  margin-left: 19%;
  background-color: #69B8D6;
}
.slide-title {
  border-top: none !important;
  color: #FFF !important;
  background-color: #69B8D6;
  display: block !important;
  margin: 0px;
  padding: 20px 0px 10px 80px !important;
  margin-bottom: 40px;
  font-family: 'ZettaRegular', 'Nunito', sans-serif;
  font-weight: 400 !important;
}
.left-bar .questions-tab > li {
  padding-left: 0px;
}
.left-bar .questions-tab > li.current a {
  background-color: #69B8D6 !important;
}
.top-bar .navbar {
  border-bottom: transparent;
}
.navbar-brand img {
  margin-left: 40px;
  margin-top: 40px;
}
.navbar-default .navbar-nav > li > a {
  color: #69B8D6;
}
.navbar-default .navbar-nav > li > a:active {
  color: #69B8D6;
}
.main-content .tab-content {
  padding-left: 0px !important;
}
.slide-page > .iafquestion,
.slide-page > .row,
.slide-page > label,
.slide-page > form {
  padding-left: 80px;
}
.user-card-simple .row {
  padding-left: 0px !important;
}
.ptop-40 {
  padding-top: 0px !important;
}
.top-40 {
  margin-top: 8px !important;
}
