  <!-- Top Navbar  -->
    <div class="top-bar">
        <nav class="navbar navbar-default top-bar" role="navigation">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="index.html"><img src="assets/img/logo.png" alt=""></a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="index.html">Shippers</a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">My Account <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                           <!--   <li><a href="#">Action</a></li>
                            <li><a href="#">Another action</a></li>-->
                            <li><a href="#" id ="logout">Logout</a></li>
                            
                        </ul>
                    </li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </nav>
    </div><!-- /.Top Navbar -->


    <!-- Secondary Header -->
    <div class="secondary-header" id="mainMenu">
        <a href="#" class="toggle-left-bar pull-left" data-target=".navbar-ex2-collapse"><i class="fa fa-bars"></i></a>
        <h3>Suminter Organics India PV</h3>
        <span>Long grain rice shipped to Costco Inc.</span>
    </div>
    <!-- /.Secondary Header -->
    
    <ul class="tabs list-inline nav nav-collapse no-outline navbar-ex2-collapse">
        <li class="tab">
            <a href="detailedprofile.html">DETAILED PROFILE</a>
        </li>
        <li class="tab">
            <a href="facility-landing.html">CREDIT LINE</a>
        </li>
        <li class="tab">
            <a href="withdrawl-landing.html">DISBURSEMENT</a>
        </li>
    </ul>

	<div class="main-content row" >
		<div id= "menu" class="col-sm-3">
			  <div class="left-bar pull-left col-xs-4">
			        <div class="avatar-holder">
			
			            <div class="user-details">
			                <div class="username">
			                    Hello, Julia
			                </div>
			            </div>
			        </div>
			        <ul class="list-unstyled questions-tab" id="detailedProfileLeftMenu">
			        
			        	<li class="<% if(page==1) print('current');%>">
			                <a href="#page/1" class="next waves-effect waves-light" data-page="1" >BUSINESS ADDRESS</a>
			            </li>
			            <li class="<% if(page==2) print('current');%>">
			                <a href="#page/2" class="next waves-effect waves-light" data-page="2">BANKING INFORMATION</a>
			            </li>
			            <li class="<% if(page==3) print('current');%>">
			            	<a href="#page/3" class="next waves-effect waves-light" data-page="3">REQUESTED SERVICE</a>
			        	</li>
			        	<li class="<% if(page==4) print('current');%>">
			            	<a href="#page/4" class="next waves-effect waves-light" data-page="4">FINALIZE &AMP; SUBMIT</a>
			        	</li>
			            <!--  <li class="current">
			                <a href="#page/0" class="next waves-effect waves-light" data-page="0" >USERS &amp; ACCESS</a>
			            </li>
			            <li>
			                <a href="#page/1" class="next waves-effect waves-light" data-page="1">STAKEHOLDERS &amp; SIGNATORIES</a>
			            </li>
			            <li>
			                <a class="waves-effect waves-light has-submenu" href="#businessDetailsMenu">BUSINESS DETAILS</a>
			              <div class="collapseable" id="businessDetailsMenu">
			                <ul class="list-unstyled submenu">
			                    <li><a href="#page/2" class="next" data-page="2"><span class="number">1</span> BUSINESS ADDRESS</a></li>
			                    <li><a href="#page/3" class="next" data-page="3"><span class="number">2</span> INTERNATIONAL SUBSIDIARIES</a></li>
			                    <li><a href="#page/4" class="next" data-page="4"><span class="number">3</span> TOP 3 CUSTOMERS</a></li>
			                    <li><a href="#page/5" class="next" data-page="5"><span class="number">4</span> TOP 3 SUPPLIERS</a></li>
			                </ul>
			            </div>
			        </li>
			        <li>
			            <a class="waves-effect waves-light has-submenu" href="#financialOverviewMenu">
			              FINANCIAL OVERVIEW
			            </a>
			            <div class="collapseable" id="financialOverviewMenu">
			                <ul class="list-unstyled submenu">
			                    <li><a href="#" class="next" data-page="6"><span class="number">1</span> BANKING INFORMATION</a></li>
			                    <li><a href="#" class="next" data-page="7"><span class="number">2</span> REVENUE</a></li>
			                    <li><a href="#" class="next" data-page="8"><span class="number">3</span> RECEIVABLES</a></li>
			                    <li><a href="#" class="next" data-page="9"><span class="number">4</span> AUDITORS</a></li>
			                </ul>
			            </div>
			        </li>
			        <li>
			            <a class="waves-effect waves-light has-submenu" href="#supportingDocumentsMenu">
			              SUPPORTING DOCUMENTS
			            </a>
			            <div class="collapseable" id="supportingDocumentsMenu">
			                <ul class="list-unstyled submenu">
			                    <li><a href="#" class="next" data-page="10"><span class="number">1</span> COMPANY DOCUMENTS</a></li>
			                    <li><a href="#" class="next" data-page="11"><span class="number">2</span> CREDIT DOCUMENTS</a></li>
			                    <li><a href="#" class="next" data-page="12"><span class="number">3</span> EXTERNAL CREDIT DOCUMENTS</a></li>
			                    <li><a href="#" class="next" data-page="13"><span class="number">4</span> FINANCIAL DOCUMENTS</a></li>
			                </ul>
			            </div>
			        </li>
			        <li>
			            <a class="next waves-effect waves-light" data-page="14">CREDIT CHECK</a>
			        </li>
			        <li>
			            <a class="next waves-effect waves-light" data-page="15">REQUESTED SERVICE</a>
			        </li>
			        <li>
			            <a class="next waves-effect waves-light" data-page="16">FINALIZE &AMP; SUBMIT</a>
			        </li>-->
			    </ul>
			
			</div>
		
		</div>
		<div id= "content" class="col-sm-9"></div>
    </div>

  


